# === Django ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
venv/
db.sqlite3

# === React ===
React/client/node_modules/
React/client/build/
React/client/.env

# === VSCode / OS ===
.vscode/
.DS_Store
Thumbs.db
